<div class="row blog-wrapper">
  
  <%= render "shared/article_menu" %><!-- /.blog-sidebar -->
  
  <div class="col-sm-7 blog-main">
    <% @posts.each do |post| %>
        
        <div class="blog-post">
          <h2 class="blog-post-title">
            <a href = "/blog/show/<%= post.id%>">
              <%= post.title %> &nbsp
            </a>
          </h2>
          <ul class="list-inline blog-post-meta">
              <li><%= post.created_at.in_time_zone('Seoul').strftime("%Y-%m-%d %H:%M") %></li>
            </ul>
        </div><!-- /.blog-post -->
    <% end %>
      
    <!--<nav>-->
    <!--  <ul class="pager">-->
    <!--    <li> pre </li>-->
    <!--    <li> next </li>-->
    <!--  </ul>-->
    <!--</nav>-->

  </div><!-- /.blog-main -->

  

  <%= render "shared/sidebar" %><!-- /.blog-sidebar -->
 
  
</div><!-- /.row -->

<div id="summernote" data-provider="summernote"><p>내용을 입력해 주세요_Summernote</p></div>


<!--<%= render "shared/summernote" %>-->

